* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

.codeDiv {
    background-color:#36454F;
    font-size: 1rem;
    border-radius: 15px;
    border: 1px solid grey;
    color: #fff;
    padding: 10px;
    margin-left: 5%;
    text-align: justify;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.boldDiv{
    font-size: 1.25em;
    font-weight: 600;
}

.promptLink {
    color: blue;
    text-decoration: none;
}